@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MarkLogic .NET Client Library</h1>
    <p class="lead">The MarkLogic .NET Client Library makes it easier to develop .NET applications for MarkLogic. It currently provides tooling for working with MarkLogic Data Services.</p>
    <p><a href="https://project.marklogic.com/repo/users/mgumban/repos/ml-ds-dotnet-poc/browse" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Learn Marklogic</h2>
        <p>API documentation for the Server-Side MarkLogic built-in extensions to the JavaScript standard functions.</p>
        <p><a class="btn btn-default" href="https://docs.marklogic.com/">Learn more &raquo;</a></p>
    </div>
 
</div>